Source: phpplatesender
Section: php
Priority: extra
Homepage: https://github.com/manupap1/phpplatesender
Maintainer: Emmanuel Papin <manupap01@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, dh-systemd (>= 1.5),
 pkg-php-tools (>= 1.7~), php5-cli, curl
Standards-Version: 3.9.6

Package: phpplatesender
Architecture: all
Depends: ${misc:Depends}, php5-cli, libphp-phpmailer, openalpr-daemon,
 beanstalkd, memcached
Description: ${phpcomposer:description}
 phpPlateSender is a PHP script that runs in the background to watch the
 beanstalkd queue of alprd and to send notifications with the detected license
 plates.
